<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3 style="color: green">Successfully added your response thanks!</h3>
    <script>
      function removeCurrentFromHistory() {
        // Navigate away without creating history entry
        window.location.replace(document.referrer);
      }

      setTimeout(removeCurrentFromHistory, 1000);
    </script>
  </body>
</html>
